@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{display: block; text-decoration: none; color: inherit;}
img{border: 0; display: block;}
.cf::after{content: ""; display: block; clear: both;}

#wrap{width: 1200px; margin: 0 auto;}
header{height: 100px; }
#slide{width:1200px;height: 300px;}
#content{height: 200px;}
footer{height: 100px; background: #eee;}

/* header */
.logo img{width: 200px; height: 50px;}

.logo{
    width: 200px;
    padding: 30px 0;
    float: left;
}
nav{
    width: 1000px;
    height: 100px;
    float: left;
}

.sub{display: none;color: #fff;}
/* .gnb:hover .sub{display: block;} */

.gnb a{
    width: 150px;
    line-height: 40px;
    text-align: center;
}
.gnb>li{float: left;}
.gnb{
    position: relative;
    top: 60px;
    left: 380px;
    width: 600px;
    z-index: 10;
}
.nav_back{
    width: 1200px;height: 150px;
    background: #333;
    position: absolute;
    top: 100px;
    z-index: 1;
    display: none;
}
.gnb>li:hover>a{/* 마우스가 올라간 gnb, sub 배경색 각각 적용시;>를 넣지말기, gnb만 적용시;>넣어주기*/
    background: #333;
    color: #fff;
}
.sub>li:hover>a{
    background: #fff;
    color: #333;
}

/* slide */
#slide{overflow: hidden;}
#slide img{width: 1200px; height: 300px;}
#slide ul{animation: fade 9s infinite;}
@keyframes fade{
    0%{margin-top: 0; opacity: 0;}
    3%{margin-top: 0; opacity: 1;}
    30%{margin-top: 0; opacity: 1;}
    33%{margin-top: 0; opacity: 0;}

    33.1%{margin-top: -300px; opacity: 0;}
    36%{margin-top: -300px; opacity: 1;}
    63%{margin-top: -300px; opacity: 1;}
    66%{margin-top: -300px; opacity: 0;}

    66.1%{margin-top: -600px; opacity: 0;}
    69%{margin-top: -600px; opacity: 1;}
    97%{margin-top: -600px; opacity: 1;}
    100%{margin-top: -600px; opacity: 0;}
}

/* content */
#content section{
    width: 380px;
    height: 180px;
    padding: 10px;
    float: left;
}
.title{
    line-height: 39px;
    border-bottom: 1px #ccc solid;
    text-align: center
}
.notice a{
    padding: 0 10px;
    line-height: calc(140px / 6);
    height: calc(140px / 6); /* cf 대신 */
}
.notice a:hover{background: #333; color: #fff;}
.subject{
    width: 260px;
    float: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.date{
    width: 100px;
    float: left;
    text-align: right;
}
.gallery img{width: 100px;height: 100px;}
.gallery li{
    padding: 20px 0 20px 20px;
    float: left;
}

.gallery a{
    overflow: hidden;
    outline: 1px #eee solid;
}

.gallery a:hover img{
    transform: scale(1.1, 1.1);
    transition: .3s;
}

.shortcut li{
    padding: 20px 0 0 20px;
}
.shortcut h3{
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

/* footer */
.f_right{
    float: left;
    width: 1000px;
    height: 100px;
    text-align: center;
    font-size: .9rem;
}
.menu a{
    display: inline;
}
.menu{padding: 10px 0 10px 0;}
.menu a:hover{text-decoration: underline;}

.famliysite{
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;
    padding: 39px 0;
}
.famliysite select{
    width: 150px;
    height: 20px;
}

/* popup */
#popup{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
    display: none;
}
.popup_body{
    width: 600px;
    height: 400px;
    background: #fff;
    border: 3px #333 solid;
    border-radius: 5px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.popup_body h3{
    line-height: 60px;
}
.popup_body p{
    font-size: 14px;
    text-align: left;
    padding: 20px;
    height: 240px;
}
.close{text-align: center;}
.close button{height: 30px; width: 80px;}