@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: inherit;}
img{border: 0; display: block;}
.cf::after{content: ""; display: block; clear: both;}

header{background: #eee;}
#header{width: 1200px; height: 100px; margin: 0 auto;}
#slide{width: 1200px; height: 300px; margin: 0 auto;}
#content{width: 1200px; height: 200px; margin: 0 auto;}
#footer{width: 1200px; height: 100px; margin: 0 auto;}
footer{background: #eee;}

.logo img{width:}