@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: inherit;}
img{border: 0; display: block;}
.cf::after{content: "";display: block;clear: both;}

/* 기본크기 */
#wrap{width: 1000px; height: 650px;}
#left{width: 200px; height: 650px; float: left;}
#right{width: 800px; height: 650px; float: left;}

.logo img{width: 200px;}
.logo{
    padding: 10px 0;
}
nav{
    width: 200px;
    height: 550px;
}
.sub{
    display: none;
    height: 250px;
    background: #333;
    color: #fff;
    position: absolute;
    width: 180px;
    top: -32px; left: 180px;
}

/* .gnb li:hover .sub{display: block;} */

.gnb a{
    line-height: 40px;
    text-align: center;
    background: #eee;
    transition: .2s;
}
.sub a{
    line-height: 32px;
    text-align: center;
    background: #333; color: #fff;
    transition: .1s;
}
.gnb{
    width: 180px;
    position: relative;
    top:30px;
    left: 10px;
}
.gnb>li:hover>a{
    background: #333; color: #fff;
}
.sub>li:hover>a{
    background: #eee; color: #333;
}

/* nav 추가사항 */
.gnb>li{
    border:1px #333 solid;
    border-bottom: 0;
}
.gnb>li:last-child{border-bottom: 1px #333 solid;}

/* slide */
#slide{
    width: 800px;
    height: 350px;
    overflow: hidden;
}
#slide ul{
    animation: slide 9s infinite;
    width:400%;
}
#slide li{float: left;}
@keyframes slide{
    0%{margin-left: 0;}
    33%{margin-left: -100%;}
    66%{margin-left: -200%;}
    100%{margin-left: -300%;}
}

/* content */
#content{width: 800px; height: 200px;}
#content section{
    width: 240px;
    height: 180px;
    padding: 10px;
    float: left;
}
#content section:first-child{width: 260px;}

#content section h3{
    text-align: center;
    line-height: 29px;
    border-bottom: 1px #333 solid;
}

.notice a{
    line-height: 30px;
    height: 30px;
    font-size: 13px;
}
.notice a:hover{
    background: #333; color: #fff;
}
.subject{
    width: 180px;
    float: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.date{
    width: 80px;
    float: left;
}

/* gallery */
.gallery img{width: 70px;transition: .3s;}
.gallery li{
    float: left;
    padding: 40px 5px;
}
.gallery a{
    overflow: hidden;
}
.gallery a:hover img{
    transform:scale(1.1);
    opacity: .8;
}

/* banner */
.banner img{width: 70px;transition: .3s;}
.banner li{float: left;}
.banner li:nth-child(1){
    width: 70px;
    padding: 5px;
    /* overflow: hidden; */
}
.banner li:nth-child(2){
    width: 160px;
    font-size: 13px;
}
.banner li:nth-child(2) p{
    text-align: right;
}
#content section:nth-child(3)>a{
    margin-top: 35px;
}
.banner li:nth-child(2)>p:hover{font-weight: bold; text-decoration: underline;}
.banner:hover img{opacity: .6;}

/* footer */
footer{
    width: 800px;
    height: 100px;
    background: #eee;
}
.f_logo{
    float: left;
}
.f_right{
    width: 600px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 13px;
}
.f_menu a{
    display: inline;
    line-height: 40px;
}
.copyright{line-height: 15px;}

.f_menu a:hover{text-decoration: underline;}

/* popup */
#popup{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    display: none;
}
.popup_body{
    background: #fff;
    border: 3px #333 solid;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.popup_body h3{
    line-height: 60px;
}
.popup_body p{
    text-align: left;
    padding: 10px 30px 0 30px;
    font-size: 14px;
}
.popup_body .close{
    width: 100px;
    height: 30px;
    margin: 30px;
}